<div class="container-fluid">
    <div class="row">
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
        </ul>
            <div class="col-sm-9 text-center">
                <label class="font-open-sans header-box">I am Open Sans 120px</label>
            </div>
            @*Right divs*@
            <div class="col-sm-3 text-center">
                <label class="font-open-sans upper-right-box">I am Open Sans 120px</label>
            </div>
            <div class="col-sm-3 text-center">
                <label class="font-open-sans" style="font-weight:bold;font-size:18px;"><strong>I am Open Sans extra bold 48px</strong></label>
            </div>
            <div class="col-sm-3 text-center">
                <label class="font-open-sans" style="font-size:10px;"><strong>I am Open Sans extra bold 48px</strong></label>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-9 text-center" style="margin-top: 10px;">
            <label class="font-open-sans" style="font-weight: bold;font-size: 25px;">I am Open Sans extra bold 48px</label>
        </div>
        <div class="col-sm-9 text-center" style="margin-top: -8px;">
            <label class="font-open-sans" style="font-size: 15px;">Please follow all directions, make fonts the same size, respect margin and spacing</label>
        </div>
        <div class="col-sm-3 text-center" style="margin-top: -4px;">
            <label class="font-open-sans right-box"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-center">
            <label class="font-open-sans lower-box"></label>
        </div>
        <div class="col-sm-3 text-center">
            <label class="font-open-sans lower-box">DON'T USE IMAGES</label>
        </div>
        <div class="col-sm-3 text-center">
            <label class="font-open-sans lower-box"></label>
        </div>
        <div class="col-sm-3 text-center">
            <label class="font-open-sans right-box"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-center">
        </div>
        <div class="col-sm-3 text-center">
        </div>
        <div class="col-sm-3 text-center">
        </div>
        <div class="col-sm-3 text-center" style="margin-top: -120px;">
            <label class="font-open-sans right-box"></label>
        </div>
    </div>

</div>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
    .font-open-sans {
        font-family: 'Open Sans', sans-serif;
    }
    .header-box {
        width: 1920px;
        height: 200px;
        font-size: -webkit-xxx-large;
        line-height: 200px;
        background-color: #FEC9C9;
    }
    .upper-right-box {
        width: 207px;
        height: 136px;
        line-height: 136px;
        background-color: #FEC9C9;
    }
    .right-box {
        width: 120px;
        height: 106px;
        line-height: 136px;
        background-color: #FEC9C9;
    }
    .lower-box {
        width: 200px;
        height: 225px;
        line-height: 225px;
        background-color: #FEC9C9;
        color: white;
    }
    
</style>